<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lottetour.web.mapper.BoardMapper">


	<insert id="insert">
    	INSERT INTO KJH_Board 
    	(ID, TITLE, CONTENT, PASSWD, SALT, USERID, UPDATEDATE, REGDATE, DELETEDATE)
    	VALUES
    	(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{passwd}, #{salt}, #{userId}, SYSTIMESTAMP, SYSTIMESTAMP, TO_CHAR(#{deletedate}, 'YYYY-MM-DD'))
	</insert>

	<select id="selectByid" resultType="com.lottetour.web.domain.BoardVO">
		SELECT * FROM KJH_Board 
		WHERE ID =#{id}
	</select>


	<update id="update" parameterType="BoardVO">
		UPDATE KJH_Board
		SET TITLE =#{title,jdbcType=VARCHAR}, CONTENT =#{content,jdbcType=VARCHAR},
		USERID =#{userId,jdbcType=VARCHAR}, DELETEDATE = TO_CHAR(#{deletedate}, 'YYYY-MM-DD'), UPDATEDATE = SYSTIMESTAMP
		WHERE id =#{id}
	</update>
	
	<update id="changeIsDeleted" parameterType="BoardVO">
		UPDATE KJH_Board
		SET IS_DELETED = 1, UPDATEDATE = SYSTIMESTAMP
		WHERE ID =#{id}
	</update>

	<delete id="delete">
		DELETE FROM KJH_Board 
		WHERE ID = #{id}
	</delete>

	<update id="updateviewcount">
		UPDATE KJH_BOARD 
		SET VIEWCOUNT= VIEWCOUNT+1 
		WHERE ID =#{id}
	</update>

	<select id="selectAll" resultType="com.lottetour.web.domain.BoardVO">
    	<![CDATA[
        	SELECT * FROM KJH_Board
        	ORDER BY ID ASC
    	]]>
	</select>

	<!-- <sql>코드는 <include>로 사용할 수 있음 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<choose>
				<when test="type == 'T'.toString()">
					TITLE LIKE '%'||#{keyword}||'%'
				</when>
				<when test="type == 'C'.toString()">
					CONTENT LIKE '%'||#{keyword}||'%'
				</when>
				<when test="type == 'W'.toString()">
					USERID LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</trim>
	</sql>



	<select id="getListWithPaging" resultType="com.lottetour.web.domain.BoardVO">
	<![CDATA[
		SELECT * FROM(
			SELECT ROWNUM AS RNUM, A.* FROM (
				SELECT * FROM KJH_BOARD
				WHERE IS_DELETED = 0
				ORDER BY REGDATE DESC 
			) A WHERE
		]]>
		<include refid="criteria"></include>
		<![CDATA[
			 ROWNUM <=#{pageNum}*#{amount}
		) WHERE RNUM > (#{pageNum}-1)*#{amount}
		]]>
	</select>



	<select id="getTotalCount" resultType="int">
    	<![CDATA[
    		SELECT COUNT(*) FROM KJH_BOARD WHERE
    	]]>
		<include refid="criteria"></include>
    	<![CDATA[
    		 ID > 0 AND IS_DELETED=0
		]]>
	</select>
	
	<update id="deleteListBySchedule">
		UPDATE KJH_Board
		SET IS_DELETED = 1, UPDATEDATE = SYSTIMESTAMP
		WHERE TO_CHAR(deletedate, 'YYYY-MM-DD') = TO_DATE(#{dateString})
	</update>


</mapper>  