<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lottetour.web.mapper.BoardMapper">


	<insert id="insert">
		insert into KJH_Board (id, title, content, passwd, salt, userId, updatedate, regdate, deletedate)
		values
		(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{passwd}, #{salt}, #{userId}, SYSTIMESTAMP, SYSTIMESTAMP, #{deletedate})
	</insert>

	<select id="selectByid" resultType="com.lottetour.web.domain.BoardVO">
		select * from KJH_Board where
		id =#{id}
	</select>


	<update id="update" parameterType="BoardVO">
		update KJH_Board
		set title =#{title,jdbcType=VARCHAR}, content =#{content,jdbcType=VARCHAR},
		userId =#{userId,jdbcType=VARCHAR}, deletedate =#{deletedate,jdbcType=VARCHAR}, updatedate = SYSTIMESTAMP
		where id =#{id}
	</update>
	
	<update id="changeIsDeleted" parameterType="BoardVO">
		update KJH_Board
		set is_deleted = 1, updatedate = SYSTIMESTAMP
		where id =#{id}
	</update>

	<delete id="delete">
		delete from KJH_Board where id = #{id}
	</delete>

	<update id="updateviewcount">
		update KJH_BOARD set viewcount= viewcount+1 where id
		=#{id}
	</update>

	<select id="selectAll" resultType="com.lottetour.web.domain.BoardVO">
    	<![CDATA[
        	SELECT * FROM KJH_Board
        	ORDER BY id ASC
    	]]>
	</select>

	<!-- <sql>코드는 <include>로 사용할 수 있음 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<choose>
				<when test="type == 'T'.toString()">
					title like '%'||#{keyword}||'%'
				</when>
				<when test="type == 'C'.toString()">
					content like '%'||#{keyword}||'%'
				</when>
				<when test="type == 'W'.toString()">
					userId like '%'||#{keyword}||'%'
				</when>
			</choose>
		</trim>
	</sql>



	<select id="getListWithPaging" resultType="com.lottetour.web.domain.BoardVO">
	<![CDATA[
		SELECT * FROM(
			SELECT ROWNUM AS RNUM, A.* FROM (
				SELECT * FROM KJH_BOARD
				WHERE is_deleted = 0
				ORDER BY regdate DESC 
			) A WHERE
		]]>
		<include refid="criteria"></include>
		<![CDATA[
			 ROWNUM <=#{pageNum}*#{amount}
		) WHERE RNUM > (#{pageNum}-1)*#{amount}
		]]>
	</select>



	<select id="getTotalCount" resultType="int">
    	<![CDATA[
    		select count(*) from KJH_BOARD where
    	]]>
		<include refid="criteria"></include>
    	<![CDATA[
    		 id > 0 and is_deleted=0
		]]>
	</select>
	
	<update id="deleteListBySchedule">
		update KJH_Board
		set is_deleted = 1, updatedate = SYSTIMESTAMP
		where TO_CHAR(deletedate, 'YYYY-MM-DD') = TO_DATE(#{dateString})
	</update>


</mapper>  